@import url(http://fonts.googleapis.com/css?family=PT+Mono);

.dark, .dark input {
	color: #eee;
	background: #080808;
}

.med, .med input {
	font-size: 15px;
}

.mono, .mono input {
	font-family: 'PT Mono', monospace;
}

html, body, input {
	cursor: text;
}

*:focus {
	outline: none;
}

.pad {
	padding: 1em;
	margin: 0;
}

#x-cursor {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}